---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=DONT_SHARE_MY_KEY&q=41.88425,87.63245
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999944'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/24/2024 04:11:21
      Cdn-Edgestorageid:
      - '1002'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - e166c2e8eae7030909ed49dfa5ceb15d
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Malancun","region":"Xinjiang","country":"China","lat":41.88,"lon":87.63,"tz_id":"Asia/Shanghai","localtime_epoch":1713931759,"localtime":"2024-04-24
        12:09"},"current":{"last_updated_epoch":1713931200,"last_updated":"2024-04-24
        12:00","temp_c":19.6,"temp_f":67.3,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":8.5,"wind_kph":13.7,"wind_degree":105,"wind_dir":"ESE","pressure_mb":1007.0,"pressure_in":29.73,"precip_mm":0.0,"precip_in":0.0,"humidity":23,"cloud":3,"feelslike_c":19.6,"feelslike_f":67.4,"vis_km":10.0,"vis_miles":6.0,"uv":5.0,"gust_mph":9.8,"gust_kph":15.7},"forecast":{"forecastday":[{"date":"2024-04-24","date_epoch":1713916800,"day":{"maxtemp_c":23.3,"maxtemp_f":74.0,"mintemp_c":13.4,"mintemp_f":56.2,"avgtemp_c":18.6,"avgtemp_f":65.5,"maxwind_mph":9.2,"maxwind_kph":14.8,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":25,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":7.0},"astro":{"sunrise":"05:14
        AM","sunset":"07:00 PM","moonrise":"07:36 PM","moonset":"05:08 AM","moon_phase":"Full
        Moon","moon_illumination":100,"is_moon_up":0,"is_sun_up":1},"hour":[{"time_epoch":1713888000,"time":"2024-04-24
        00:00","temp_c":17.5,"temp_f":63.5,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":4.0,"wind_kph":6.5,"wind_degree":106,"wind_dir":"ESE","pressure_mb":1008.0,"pressure_in":29.76,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":33,"cloud":10,"feelslike_c":17.5,"feelslike_f":63.5,"windchill_c":17.5,"windchill_f":63.5,"heatindex_c":17.5,"heatindex_f":63.5,"dewpoint_c":1.2,"dewpoint_f":34.2,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":6.2,"gust_kph":10.0,"uv":1.0},{"time_epoch":1713891600,"time":"2024-04-24
        01:00","temp_c":16.8,"temp_f":62.3,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":5.1,"wind_kph":8.3,"wind_degree":101,"wind_dir":"ESE","pressure_mb":1008.0,"pressure_in":29.76,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":33,"cloud":5,"feelslike_c":16.8,"feelslike_f":62.3,"windchill_c":1[...]
[...]
