---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=DONT_SHARE_MY_KEY&q=48.8567,2.3508
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999944'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 04/24/2024 04:11:17
      Cdn-Edgestorageid:
      - '997'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - afbb8b680d66d24534a67e4e66c9cbd9
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Paris","region":"Ile-de-France","country":"France","lat":48.86,"lon":2.35,"tz_id":"Europe/Paris","localtime_epoch":1713931755,"localtime":"2024-04-24
        6:09"},"current":{"last_updated_epoch":1713931200,"last_updated":"2024-04-24
        06:00","temp_c":7.0,"temp_f":44.6,"is_day":0,"condition":{"text":"Partly cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":6.9,"wind_kph":11.2,"wind_degree":290,"wind_dir":"WNW","pressure_mb":1016.0,"pressure_in":30.0,"precip_mm":0.03,"precip_in":0.0,"humidity":87,"cloud":75,"feelslike_c":5.0,"feelslike_f":41.1,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":9.6,"gust_kph":15.4},"forecast":{"forecastday":[{"date":"2024-04-24","date_epoch":1713916800,"day":{"maxtemp_c":8.8,"maxtemp_f":47.8,"mintemp_c":4.5,"mintemp_f":40.2,"avgtemp_c":6.8,"avgtemp_f":44.3,"maxwind_mph":12.8,"maxwind_kph":20.5,"totalprecip_mm":0.99,"totalprecip_in":0.04,"totalsnow_cm":0.0,"avgvis_km":9.3,"avgvis_miles":5.0,"avghumidity":66,"daily_will_it_rain":1,"daily_chance_of_rain":88,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":2.0},"astro":{"sunrise":"06:42
        AM","sunset":"08:56 PM","moonrise":"09:54 PM","moonset":"06:39 AM","moon_phase":"Full
        Moon","moon_illumination":100,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1713909600,"time":"2024-04-24
        00:00","temp_c":6.0,"temp_f":42.9,"is_day":0,"condition":{"text":"Patchy rain
        nearby","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":5.4,"wind_kph":8.6,"wind_degree":305,"wind_dir":"NW","pressure_mb":1019.0,"pressure_in":30.08,"precip_mm":0.01,"precip_in":0.0,"snow_cm":0.0,"humidity":80,"cloud":88,"feelslike_c":4.2,"feelslike_f":39.6,"windchill_c":4.2,"windchill_f":39.6,"heatindex_c":6.0,"heatindex_f":42.9,"dewpoint_c":2.8,"dewpoint_f":37.1,"will_it_rain":1,"chance_of_rain":73,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":8.4,"gust_kph":13.5,"uv":1.0},{"time_epoch":1713913200,"time":"2024-04-24
        01:00","temp_c":6.1,"temp_f":42.9,"is_day":0,"condition":{"text":"Light drizzle","icon":"//cdn.weatherapi.com/weather/64x64/night/266.png","code":1153},"wind_mph":4.9,"wind_kph":7.9,"wind_degree":302,"wind_dir":"WNW","pressure_mb":1018.0,"pressure_in":30.07,"precip_mm":0.2,"precip_in":0.01,"snow_cm":0.0,"humidity":82,"cloud":90,"feelslike_c":4.4,"feelslike_f":39.9,"windchi[...]
[...]
